# Rust
/target/
**/*.rs.bk

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Xcode
**/xcuserdata/
**/*.xcuserstate

# 3rd
/3rd/
