# Rust
/target/
**/*.rs.bk
**/target/

# Node
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Xcode
**/xcuserdata/
**/*.xcuserstate

# Generated test outputs
tests/cases/gaussian_blur/

# 3rd - commented out to allow rust-wgpu-fiber stub
# /3rd/
